<!DOCTYPE html>
<html lang="en">
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KZMWX86X');</script>
<!-- End Google Tag Manager -->
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0" />
		<title>Edit Profile</title>
		<link
			rel="stylesheet"
			href="../../styles/student/edit_student_detail.css" />
	</head>
	<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KZMWX86X"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
		<form
			id="edit-profile-form"
			action="/admin/<%= username %>/edit_my_profile"
			method="post">
			<label for="name">Name:</label>
			<input
				type="text"
				id="name"
				name="name"
				value=" <%= data.name%>" required/>

			<label for="id">ID:</label>
			<input
				type="text"
				id="id"
				name="id"
				value="<%= data.id%>" required/>

			<label for="joining-year">Joining Year:</label>
			<input
				type="text"
				id="joining_year"
				name="joining_year"
				value="<%=data.joining_year%>" required/>

			<label for="email">Email ID:</label>
			<input
				type="text"
				id="email"
				name="email"
				value="<%=data.email%>" required/>

			<label for="gender">Gender:</label>
			<input
				type="text"
				id="gender"
				name="gender"
				value="<%=data.gender%>" required/>

			<label for="blood-group">Blood Group:</label>
			<input
				type="text"
				id="blood_group"
				name="blood_group"
				value="<%=data.blood_group%>" required/>

			<label for="mobile-no">Mobile No.:</label>
			<input
				type="text"
				id="mobile_no"
				name="mobile_no"
				value="<%=data.mobile_no%>" required/>

			<input
				type="submit"
				value="Update Profile" />
		</form>
		<script src="https://unpkg.com/validator@latest/validator.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
		<script src="../../script/admin-edit-details.js"></script>
	</body>
</html>
