<!DOCTYPE html>
<html lang="en" style= "height:916px">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0" />
		<title>Visitation Request</title>
		<link
			href="../../styles/admin/vp_admin.css"
			rel="stylesheet" />
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
			<title>Visitation_requests</title>
	</head>
	<body>

        <%- include("../partials/side_navbar_admin.ejs")  %>
       
        <section class="all_section">
    
            <div class="qwerty">
                <div class="text">
                    Visitation pass
                </div>
                
            </div>

		<hr />
		<div class="inbox">
			<% if(locals.data){ %>
				<% counter = 1; %>
				<% data.forEach(req => { %>
					<% if(req.confirmation === "Pending"){ %>
						<div class="request">
							<div class="request-header">
								<div>
									<h3>Student Request <%= counter %></h3>
									<p>Student Name: <%= req.User.studDetails.student_name %></p>
									<p>Student ID: <%= req.User.studDetails.student_id %></p>
								</div>
								<div class="buttons">
									<form action="/admin/<%= username %>/vp_requests/accept/<%= req._id %>" method="post">
										<button class="button add" type="submit">Accept</button>
									</form>
									<form action="/admin/<%= username %>/vp_requests/discard/<%= req._id %>" method="post">
										<button class="button discard" type="submit">Discard</button>
									</form>
								</div>
							</div>
							<p>Visitation Purpose: <%= req.purpose %></p>
						</div>
						<% counter++; %>
					<% } %>
				<% }) %>
			<% } %>
		</div>
		<div class="container2">
            <div class="new-request">
                <form action="/admin/<%= username %>/vp_records">
                    <button type="submit">Previous visits</button>
                </form>
            </div>
        </div>
	</body>
</html>